*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*background: #252839;*/
    background: linear-gradient(120deg, #3f3f3f, #3f3f3f);
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2
{
    position: relative;
    font-size: 50px;
    color: #5e5e5e;
    -webkit-text-stroke: 0.01px #5e5e5e;
    margin-top: 5px;
    margin-bottom: 10px;

}
h2::before
{
    content: attr(data-text);
    left: 0;
    top: 0;
    position: absolute;
    width: 0;
    height: 100%;
    color: #f33b3b;
    -webkit-text-stroke: 0px #383d52;
    border-right: 2px solid #f33b3b;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}
#btnNew
{
    width: 140px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: none;
    float: left;
    margin-right: 10px;
    outline: none;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    background: linear-gradient(90deg, #755bea, #ff72c0);
}
.box
{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
}

.gradient1
{
    background: linear-gradient(90deg, #43e97b, #38f9d7, #43e97b);
}
.gradient2
{
    background: linear-gradient(110deg, #a18cd1, #fbc2eb, #a18cd1);
}
.gradient3
{
background: linear-gradient(120deg, #fa709a, #fee140, #fa709a);
}
.gradient4
{
    background: linear-gradient(180deg, #4481eb, #04befe, #4481eb);
}
.gradient5
{
background: linear-gradient(160deg, #ffe29f, #ffa99f, #ffe29f);
}
.gradient6
{
    background: linear-gradient(150deg, #fdfc47, #24fe41, #fdfc47);
}
.gradient7
{
    background: linear-gradient(200deg, #d43535, #5a53be, #d43535);
}
.sticky
{
    width: 200px;
    height: 180px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    cursor: all-scroll;
}
.sticky textarea
{
    width: 95%;
    height: 95%;
    font-size: 20px;
    margin-top: 5px;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    resize: none;
    font-family: cursive;
    overflow: hidden;
    position: absolute;
}
.ui-icon-trash
{
    float: right;
    cursor: pointer;
}
